// background

body {
  background-image:url(../images/background.jpg);
  height:100%;
  width:100%;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:100% 100%;
}

// 主页文章添加阴影效果 
.post { 
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5); 
}


// 标题栏背景 
.site-meta { 
	padding: 20px 0; 
	color: #fff; 
	background-image: url(/images/95033e2a5404c30e2ab560e72b157a0a.jpg); 
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-position: center; 
	background-size: 100% 100%; 
}

// page-opacity

.content-wrap {
  opacity: 0.85;
}

.sidebar {
  opacity: 0.85;
}

.header-inner {
  background: rgba(255,255,255,0.85);
  border-radius: 30px 30px 30px 30px; //菜单栏椭圆化 
}

.popup {
  opacity: 0.9;
}

