// background

body {
  background-image:url(../images/background.jpg);
  // height:100%;
  // width:100%;
  // background-repeat:repeat-x;
  background-attachment:fixed;
  // background-size:100% 100%;
}

// 主页文章添加阴影效果 
.post { 
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 25px;
	-webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
	-moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5); 
}

// page-opacity

.post-block {
  opacity: 0.85;
}

.sidebar {
  opacity: 0.85;
}

.header-inner {
  background: rgba(255,255,255,0.85);
  border-radius: 30px 30px 30px 30px; //菜单栏椭圆化 
}

.popup {
  opacity: 0.9;
}


code {
    margin: 0px 2px;
	background-color: #000000;
}
